@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* **
    The new CSS reset - version 1.11.3 (last updated 25.08.2024)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

a, button {
  cursor: revert;
}

ol, ul, menu, summary {
  list-style: none;
}

ol {
  counter-reset: revert;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input, textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

:where(pre) {
  all: revert;
  box-sizing: border-box;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

::-webkit-details-marker {
  display: none;
}

.text-primary {
  color: #122c6f;
}

.text-secondary {
  color: #5a4e59;
}

.text-danger {
  color: #D8006D;
}

.text-success {
  color: #13e695;
}

.text-info {
  color: #6695ed;
}

.text-dark {
  color: #000000;
}

.text-light {
  color: #ffffff;
}

.bg-primary {
  background-color: #122c6f;
}

.bg-secondary {
  background-color: #5a4e59;
}

.bg-danger {
  background-color: #D8006D;
}

.bg-success {
  background-color: #13e695;
}

.bg-info {
  background-color: #6695ed;
}

.bg-dark {
  background-color: #000000;
}

.bg-light {
  background-color: #ffffff;
}

.fs-1 {
  font-size: 6px;
}

.fs-2 {
  font-size: 12px;
}

.fs-3 {
  font-size: 16px;
}

.fs-4 {
  font-size: 24px;
}

.fs-5 {
  font-size: 32px;
}

.m-auto {
  margin: 0 auto;
}

.mt-auto {
  margin-top: 0 auto;
}

.mr-auto {
  margin-right: 0 auto;
}

.mb-auto {
  margin-bottom: 0 auto;
}

.ml-auto {
  margin-left: 0 auto;
}

.mx-auto {
  margin-left: 0 auto;
  margin-right: 0 auto;
}

.my-auto {
  margin-top: 0 auto;
  margin-bottom: 0 auto;
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mr-0 {
  margin-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.m-xs {
  margin: 6px;
}

.mt-xs {
  margin-top: 6px;
}

.mr-xs {
  margin-right: 6px;
}

.mb-xs {
  margin-bottom: 6px;
}

.ml-xs {
  margin-left: 6px;
}

.mx-xs {
  margin-left: 6px;
  margin-right: 6px;
}

.my-xs {
  margin-top: 6px;
  margin-bottom: 6px;
}

.m-sm {
  margin: 12px;
}

.mt-sm {
  margin-top: 12px;
}

.mr-sm {
  margin-right: 12px;
}

.mb-sm {
  margin-bottom: 12px;
}

.ml-sm {
  margin-left: 12px;
}

.mx-sm {
  margin-left: 12px;
  margin-right: 12px;
}

.my-sm {
  margin-top: 12px;
  margin-bottom: 12px;
}

.m-md {
  margin: 16px;
}

.mt-md {
  margin-top: 16px;
}

.mr-md {
  margin-right: 16px;
}

.mb-md {
  margin-bottom: 16px;
}

.ml-md {
  margin-left: 16px;
}

.mx-md {
  margin-left: 16px;
  margin-right: 16px;
}

.my-md {
  margin-top: 16px;
  margin-bottom: 16px;
}

.m-lg {
  margin: 24px;
}

.mt-lg {
  margin-top: 24px;
}

.mr-lg {
  margin-right: 24px;
}

.mb-lg {
  margin-bottom: 24px;
}

.ml-lg {
  margin-left: 24px;
}

.mx-lg {
  margin-left: 24px;
  margin-right: 24px;
}

.my-lg {
  margin-top: 24px;
  margin-bottom: 24px;
}

.m-xl {
  margin: 32px;
}

.mt-xl {
  margin-top: 32px;
}

.mr-xl {
  margin-right: 32px;
}

.mb-xl {
  margin-bottom: 32px;
}

.ml-xl {
  margin-left: 32px;
}

.mx-xl {
  margin-left: 32px;
  margin-right: 32px;
}

.my-xl {
  margin-top: 32px;
  margin-bottom: 32px;
}

.p-0 {
  padding: 0;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pr-0 {
  padding-right: 0;
}

.pl-0 {
  padding-left: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.p-xs {
  padding: 6px;
}

.pt-xs {
  padding-top: 6px;
}

.pb-xs {
  padding-bottom: 6px;
}

.pr-xs {
  padding-right: 6px;
}

.pl-xs {
  padding-left: 6px;
}

.px-xs {
  padding-left: 6px;
  padding-right: 6px;
}

.py-xs {
  padding-top: 6px;
  padding-bottom: 6px;
}

.p-sm {
  padding: 12px;
}

.pt-sm {
  padding-top: 12px;
}

.pb-sm {
  padding-bottom: 12px;
}

.pr-sm {
  padding-right: 12px;
}

.pl-sm {
  padding-left: 12px;
}

.px-sm {
  padding-left: 12px;
  padding-right: 12px;
}

.py-sm {
  padding-top: 12px;
  padding-bottom: 12px;
}

.p-md {
  padding: 16px;
}

.pt-md {
  padding-top: 16px;
}

.pb-md {
  padding-bottom: 16px;
}

.pr-md {
  padding-right: 16px;
}

.pl-md {
  padding-left: 16px;
}

.px-md {
  padding-left: 16px;
  padding-right: 16px;
}

.py-md {
  padding-top: 16px;
  padding-bottom: 16px;
}

.p-lg {
  padding: 24px;
}

.pt-lg {
  padding-top: 24px;
}

.pb-lg {
  padding-bottom: 24px;
}

.pr-lg {
  padding-right: 24px;
}

.pl-lg {
  padding-left: 24px;
}

.px-lg {
  padding-left: 24px;
  padding-right: 24px;
}

.py-lg {
  padding-top: 24px;
  padding-bottom: 24px;
}

.p-xl {
  padding: 32px;
}

.pt-xl {
  padding-top: 32px;
}

.pb-xl {
  padding-bottom: 32px;
}

.pr-xl {
  padding-right: 32px;
}

.pl-xl {
  padding-left: 32px;
}

.px-xl {
  padding-left: 32px;
  padding-right: 32px;
}

.py-xl {
  padding-top: 32px;
  padding-bottom: 32px;
}

.rounded-sm {
  border-radius: 4px;
}

.rounded-md {
  border-radius: 6px;
}

.rounded-lg {
  border-radius: 12px;
}

.rounded-full {
  border-radius: 50%;
}

.border-width-sm {
  border-width: 1px;
}

.border-width-md {
  border-width: 2px;
}

.border-width-lg {
  border-width: 4px;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
}

.alert, .alert-danger, .alert-success {
  padding: 12px;
  margin-bottom: 12px;
  color: #ffffff;
  background-color: #122c6f;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  border-radius: 12px;
}

.form, .form-compact {
  padding: 12px;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  border-radius: 12px;
}
.form label, .form-compact label {
  display: block;
  margin-bottom: 12px;
}
.form input, .form-compact input,
.form textarea,
.form-compact textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  border-radius: 12px;
}
.form input::placeholder, .form-compact input::placeholder,
.form textarea::placeholder,
.form-compact textarea::placeholder {
  color: #5a4e59;
}
.form input:focus, .form-compact input:focus,
.form textarea:focus,
.form-compact textarea:focus {
  outline: none;
  border-color: #122c6f;
  box-shadow: 0 0 0 1px #122c6f;
}

.table, .table-compact {
  width: 100%;
  border-collapse: collapse;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  border-radius: 12px;
}
.table th, .table-compact th,
.table td,
.table-compact td {
  padding: 12px;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
}
.table th, .table-compact th {
  color: #ffffff;
  font-weight: 700;
  background-color: #122c6f;
}
.table tr:nth-child(even), .table-compact tr:nth-child(even) {
  background-color: #b2adb1;
}

ul, ol, dl {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
}

ul {
  list-style-type: circle;
}

ol {
  list-style-type: decimal;
}

dl dt {
  font-weight: 600;
}

.list-alpha-lower {
  list-style-type: lower-alpha;
}

.list-alpha-upper {
  list-style-type: upper-alpha;
}

.list-roman-lower {
  list-style-type: lower-roman;
}

.list-roman-upper {
  list-style-type: upper-roman;
}

.btn-primary {
  background-color: #122c6f;
  color: #ffffff;
  display: inline-block;
  padding: 16px 32px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
}
.btn-primary:hover {
  background-color: rgb(10.8837209302, 26.6046511628, 67.1162790698);
}

.btn-secondary {
  background-color: #5a4e59;
  color: #ffffff;
  display: inline-block;
  padding: 16px 32px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
}
.btn-secondary:hover {
  background-color: rgb(62.6785714286, 54.3214285714, 61.9821428571);
}

.btn-danger {
  background-color: #D8006D;
  color: #ffffff;
  display: inline-block;
  padding: 16px 32px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
}
.btn-danger:hover {
  background-color: rgb(165, 0, 83.2638888889);
}

.btn-success {
  background-color: #13e695;
  color: #ffffff;
  display: inline-block;
  padding: 16px 32px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
}
.btn-success:hover {
  background-color: rgb(15.1084337349, 182.8915662651, 118.4819277108);
}

.btn-info {
  background-color: #6695ed;
  color: #ffffff;
  display: inline-block;
  padding: 16px 32px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
}
.btn-info:hover {
  background-color: rgb(56.3684210526, 117.3859649123, 231.6315789474);
}

.btn-dark {
  background-color: #000000;
  color: #ffffff;
  display: inline-block;
  padding: 16px 32px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
}
.btn-dark:hover {
  background-color: black;
}

.btn-light {
  background-color: #ffffff;
  color: #ffffff;
  display: inline-block;
  padding: 16px 32px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
}
.btn-light:hover {
  background-color: rgb(229.5, 229.5, 229.5);
}

.h1 {
  font-size: 32px;
  font-weight: 900;
  text-align: center;
}

.h2 {
  font-size: 24px;
  font-weight: 700;
  text-decoration: underline;
}

.h3 {
  font-size: 16px;
  font-weight: 600;
}

.h4 {
  font-size: 12px;
  font-weight: 500;
}

.h5 {
  font-size: 6px;
  font-weight: 400;
}

.h6 {
  font-size: 6px;
  font-weight: 300;
}

.container {
  padding: 16px;
}

.alert-danger {
  background-color: #D8006D;
}

.alert-success {
  background-color: #13e695;
}

.form-compact {
  display: inline-block;
  padding: 6px;
  border-radius: 0;
}
.form-compact label {
  display: inline-block;
  margin-right: 6px;
  width: 100px;
  margin-bottom: 6px;
  text-align: right;
}
.form-compact input,
.form-compact textarea {
  width: 50%;
  margin-bottom: 6px;
  display: inline-block;
  padding: 6px;
  border-radius: 0;
}
.form-compact button {
  margin-left: 32px;
}

.table-compact th,
.table-compact td {
  padding: 6px;
}
.table-compact th {
  color: #000000;
  background-color: transparent;
}
.table-compact tr:nth-child(even) {
  background-color: transparent;
}

/*# sourceMappingURL=themebywizards.css.map */
