$size-xs: 6px;
$size-sm: 12px;
$size-md: 16px;
$size-lg: 24px;
$size-xl: 32px;


//Font Size utility classes
$font: (
  1: $size-xs,
  2: $size-sm,
  3: $size-md,
  4: $size-lg,
  5: $size-xl
);

@each $key, $value in $font {
  .fs-#{$key} {
    font-size: $value;
  }
}
// End of size utility classes 

// Margins 
$margin-auto: 0 auto;
$margin-0: 0;
$margin-xs: $size-xs;
$margin-sm: $size-sm;
$margin-md: $size-md;
$margin-lg: $size-lg;
$margin-xl: $size-xl;
// Margins utility classes 
$margin-values: (
  auto: 0 auto,
  0: 0,
  xs: $size-xs,
  sm: $size-sm,
  md: $size-md,
  lg: $size-lg,
  xl: $size-xl
);

@each $name, $value in $margin-values {
  .m-#{$name} {margin: $value;}
  .mt-#{$name} {margin-top: $value;}
  .mr-#{$name} { margin-right: $value; }
  .mb-#{$name} { margin-bottom: $value; }
  .ml-#{$name} { margin-left: $value; }
  .mx-#{$name} {
    margin-left: $value;
    margin-right: $value;
}
.my-#{$name} {
  margin-top: $value;
  margin-bottom: $value;
}
}
// End of Margins utility classes 


//Padding utility classes 
$padding-0: 0;
$padding-xs: $size-xs;
$padding-sm: $size-sm;
$padding-md: $size-md;
$padding-lg: $size-lg;
$padding-xl: $size-xl;

$padding-values: (
  0: 0,
  xs: $size-xs,
  sm: $size-sm,
  md: $size-md,
  lg: $size-lg,
  xl: $size-xl
);

@each $name, $value in $padding-values {
  .p-#{$name} { padding: $value;}
  .pt-#{$name} { padding-top: $value;}
  .pb-#{$name} { padding-bottom: $value; }
  .pr-#{$name} { padding-right: $value;}
  .pl-#{$name} { padding-left: $value; }
  .px-#{$name} {
    padding-left: $value;
    padding-right: $value;
  }
  .py-#{$name} {
    padding-top: $value;
    padding-bottom: $value;
  }
}


// End of Padding utility classes 



// Width 
$width-0: 0;
$width-5: 5px;
$width-10: 10px;
$width-15: 15px;
$width-20: 20px;
$width-25: 25px;
$width-30: 30px;
$width-40: 40px;
$width-50: 50px;
$width-60: 60px;
$width-70: 70px;
$width-80: 80px;
$width-90: 90px;
$width-100: 100px;
$width-half: 50%;
$width-full: 100%;

$height-0: 0;
$height-5: 5px;
$height-10: 10px;
$height-15: 15px;
$height-20: 20px;
$height-25: 25px;
$height-30: 30px;
$height-40: 40px;
$height-50: 50px;
$height-60: 60px;
$height-70: 70px;
$height-80: 80px;
$height-90: 90px;
$height-100: 100px;
$height-half: 50%;
$height-full: 100%;

// Border utility classes 
$rounded-sm: 4px;
$rounded-md: 6px;
$rounded-lg: 12px;
$rounded-full: 50%;

$border-radius: (
  sm: $rounded-sm,
  md: $rounded-md,
  lg: $rounded-lg,
  full: $rounded-full,
);

@each $name, $value in $border-radius {
  .rounded-#{$name} {
    border-radius: $value;
  }
}


$border-width-sm: 1px;
$border-width-md: 2px;
$border-width-lg: 4px;

$border-width: (
  sm: $border-width-sm,
  md: $border-width-md,
  lg: $border-width-lg
);

@each $name, $value in $border-width {
  .border-width-#{$name} {
    border-width: $value;
  }
}
// The end of border  utility classes
